body {
    
    width: 800px;
    
}

header {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    background-color: blue;
    height: 45px;
    
}

nav {
        position: absolute;
        width: 100%;
        top: 45px;
        background-color:green;
        height:40px;
        color: white;
        
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-spacing: 0;
    
    
}

li {
    display: block;
    list-style-type: none;
    float: left;
    margin-block-end: 0px;
    margin-right: 60px;
}

a {
    color: white;
    padding-left: 12px;
    padding-bottom: 0px;
}



article.title{
    width: 66%;
    position: absolute;
    top: 85px;
    height: 40px;
    color: white;
    background-color: pink;
    text-align: center;
}

section.s1 {
    position: absolute;
    top: 125px;
    width: 66%;
    height: 80px;
    color: white;
    background-color: brown;
    text-align: center;
}

article.mid {
    position: absolute;
    top: 205px;
    width: 66%;
    height: 15px;
    background-color: pink;
}

section.s2 {
    position: absolute;
    top: 220px;
    width: 66%;
    height: 80px;
    color: white;
    background-color: brown;
    text-align: center;
}

article.btm {
    position: absolute;
    top: 300px;
    width: 66%;
    height: 20px;
    background-color: pink;
}

aside {
    position: absolute;
    right: 0;
    top: 85px;
    width: 34%;
    height: 235px;
    background-color: cyan;
    color: white;
    text-align: center;
}

footer {
    position: absolute;
    top: 320px;
    color:white;
    background-color: green;
    height: 40px;
    text-align: center;
    width: 100%;
}




