body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color: white;
    background-color: blue;
    height: 45px;
}

nav {

    background-color:green;
    height:40px;
    color: white;
    
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-spacing: 0;
    
    
}

li {
    display: block;
    list-style-type: none;
    float: left;
    margin-block-end: 0px;
    margin-right: 60px;
}

a {
    color: white;
    padding-left: 12px;
    padding-bottom: 0px;
}


div.mid{
    width: 66%;

}

.mid .title {
    width: 100%;
    height: 40px;
    color: white;
    background-color: pink;
    text-align: center;
}

section.s1 , section.s2{
    width: 100%;
    height: 80px;
    color: white;
    background-color: brown;
    text-align: center;
}

article.mid {
    width: 100%;
    height: 15px;
    background-color: pink;
}

article.btm {
    width: 100%;
    height: 20px;
    background-color: pink;
}

aside {
    float: right;
    bottom: 235px;
    width: 34%;
    height: 235px;
    background-color: cyan;
    color: white;
    text-align: center;
}

footer {
    color:white;
    background-color: green;
    height: 40px;
    text-align: center;
    width: 100%;
    bottom: 235px;
}


