body {
    margin: auto;
    width: 800px;
}

p {
    margin:0px;
    padding:0px;
}

header {
    text-align: center;
    color: white;
    background-color: blue;
    height: 45px;
}

nav {

    background-color:green;
    height:40px;
    color: white;
    
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-spacing: 0;
    
    
}

li {
    display: block;
    list-style-type: none;
    float: left;
    margin-block-end: 0px;
}

a {
    color: white;
    padding-left: 12px;
    padding-bottom: 0px;
}


article.title{
    
    width: 66%;
    height: 40px;
    color: white;
    background-color: pink;
    text-align: center;
}

section.s1 , section.s2 {
    width: 66%;
    height: 80px;
    color: white;
    background-color: brown;
    text-align: center;
}

article.mid {
    width: 66%;
    height: 15px;
    background-color: pink;
}

article.btm {
    width: 66%;
    height: 20px;
    background-color: pink;
}

aside {
    width: 33%;
    height: 250px;
    background-color: cyan;
    color: white;
    text-align: center;
}

footer {
    color:white;
    background-color: green;
    height: 40px;
    text-align: center;
}













